{% extends "base.html" %}
{% block title %}upload{% endblock %}
{% block content %}
<div class="container mt-5">
  
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <label for="image" class="form-label">Choose Image</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Image Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock %}
