{% extends "base.html" %}
{% block title %}upload{% endblock %}
{% block content %}


    <style>
        body {
            background: linear-gradient(to right, #342d2d,#342d2d); 
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .upload-box {
            background: #fff;
            padding: 25px;
            border-radius: 15px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }
        .upload-box h3 {
            text-align: center;
            margin-bottom: 20px;
            color: #151313;
        }
    </style>


<div class="upload-box">
    <h3>Upload Image</h3>
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="image" class="form-label">Choose Image</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Image Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Upload</button>
    </form>
</div>



<!-- <div class="container mt-5">
  
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <label for="image" class="form-label">Choose Image</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Image Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div> -->
{% endblock %}
